{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ***** Header Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
  <!-- Welcome Slides -->
  <div class="welcome-slides owl-carousel">
    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'img/bg-img/1.jpg' %});">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text -->
            <div class="welcome-text text-center">
              <h2 data-animation="fadeInUp" data-delay="100ms"> An attractive smile makes a lasting impression!</h2>
              <p data-animation="fadeInUp" data-delay="300ms">Creating the healthy smile you want through science and artistry offer you.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'img/bg-img/2.jpg' %});">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text -->
            <div class="welcome-text text-center">
              <h2 data-animation="fadeInDown" data-delay="100ms">Be true to your teeth.
Beautiful, natural smiles.<br>
Beauty is power- A smile is its sword.<br>
Because everybody deserves to smile.<br>
Better teeth. Better health.<br>
Bring smiles to your Life.<br>
Bringing life to your smile.</h2>
              <p data-animation="fadeInDown" data-delay="300ms">Better teeth. Better health.<br>
              Bring smiles to your Life.<br>
              Bringing life to your smile.</p>
              <div class="welcome-btn-group">
                <a href="#" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Get Started</a>
                <a href="#" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section
<section class="dento-cta-area dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'img/bg-img/13.jpg' %});">
  <div class="container">
    <div class="row">
      <!-- Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cta text-center mt-50 mb-100">
          <i class="icon_genius"></i>
          <h2><span class="counter">20</span></h2>
          <h5>Years Of Experience</h5>
        </div>
      </div>

      <!-- Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cta text-center mt-50 mb-100">
          <i class="icon_heart_alt"></i>
          <h2><span class="counter">700</span>+</h2>
          <h5>Happy Patients</h5>
        </div>
      </div>

      <!-- Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cta text-center mt-50 mb-100">
          <i class="icon_book_alt"></i>
          <h2><span class="counter">120</span></h2>
          <h5>Certificate</h5>
        </div>
      </div>

      <!-- Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cta text-center mt-50 mb-100">
          <i class="icon_id"></i>
          <h2><span class="counter">40</span>+</h2>
          <h5>Dentist</h5>
        </div>
      </div>
    </div>
  </div>


    <!-- Cool Facts Area End -->
  <!-- Cool Facts Area End -
<!-- ***** Welcome Area End ***** -->



{% endblock %}
<!-- ***** Blog Area End ***** -->


<!-- ***** Footer Area End ***** -->
