{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- ***** Header Area End ***** -->

  <!-- ***** Breadcrumb Area Start ***** -->

  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Our Pricing</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Book An Oppointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'img/bg-img/12.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Book An Apointment</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form">
            <form action="{% url 'appointment' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="Your Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Your Phone" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="Your Address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-scheldule" class="form-control">
                      <option value="First Choice Appointment Time">First Choice Appointment Time </option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="2 PM to 4 PM">2 PM to 4 PM</option>
                      <option value="8 PM to 10 PM">8 PM to 10 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-date" class="form-control">
                      <option value="Choose Your Date">Choose Your Date</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Booking Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Dento Pricing Table Area Start ***** -->
  <section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Service Names</th>
                  <th scope="col">Stage</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Teeth Whitening Service at home</th>
                  <td>1 times</td>
                  <td>$115.00</td>
                </tr>
                <tr>
                  <th scope="row">Teeth Whitening Service at Dental Clinic</th>
                  <td>1 times</td>
                  <td>$100.00</td>
                </tr>
                <tr>
                  <th scope="row">Ceramic crowns and fillings Dental porcelain</th>
                  <td>1 times</td>
                  <td>$99.00</td>
                </tr>
                <tr>
                  <th scope="row">Remove crowns, bridges Service</th>
                  <td>1 tooth</td>
                  <td>$50.00</td>
                </tr>
                <tr>
                  <th scope="row">Covering the recession of the gums</th>
                  <td>1 times</td>
                  <td>$400.00</td>
                </tr>
                <tr>
                  <th scope="row">Consultation, impressions and preparation of models</th>
                  <td>1 times</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <th scope="row">Removal of an old inlay, old crown</th>
                  <td>1 times</td>
                  <td>$99.00</td>
                </tr>
                <tr>
                  <th scope="row">Overlay teeth whitening ( 2 arches)</th>
                  <td>1 times</td>
                  <td>$170.00</td>
                </tr>
                <tr>
                  <th scope="row">Standard porcelain and zirconium crown on implant</th>
                  <td>1 tooth</td>
                  <td>$499.00</td>
                </tr>
                <tr>
                  <th scope="row">Implantation of an implant (price depends on system used)</th>
                  <td>1 tooth</td>
                  <td>$600.00</td>
                </tr>
                <tr>
                  <th scope="row">Covering the recession of the gums</th>
                  <td>1 times</td>
                  <td>$400.00</td>
                </tr>
                <tr>
                  <th scope="row">Consultation, impressions and preparation of models</th>
                  <td>1 times</td>
                  <td>$35.00</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="#" class="btn dento-btn">Read More <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
  <!-- ***** Dento Pricing Table Area End ***** -->
